In [2]:
import pandas as pd 
import numpy as np

In [3]:
with open('netsparker.txt', 'r') as file:
    netsparker  = file.readlines()
    
with open('w3af.txt', 'r') as file:
    w3af = file.readlines()
    
with open('acunetix.txt', 'r') as file:
    acunetix  = file.readlines()

In [4]:
sqli_list = ['select','insert','update','delete','alter',
             'update','--','#','exec','hex','utf-8',"\'"]

xss_list=['script','onload','onerror','img','body','iframe', 
          'input','link','table','div','object','form']

xss_sqli_patterns= xss_list+sqli_list

### Creating a csv data

#### Dataframe for netsparker

In [5]:
netsparker_df = pd.DataFrame([[x.strip('"') for x in y.split()] for y in netsparker])
netsparker_df.replace([None,'-'],np.nan, inplace=True)
netsparker_df.head()

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
0,192.168.4.164,NaN,NaN,[22/Dec/2016:15:19:05,+0300],GET,/DVWA/,HTTP/1.1,200,2020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,192.168.4.164,NaN,NaN,[22/Dec/2016:15:19:06,+0300],HEAD,/DVWA/,HTTP/1.1,200,263,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,192.168.4.164,NaN,NaN,[22/Dec/2016:15:19:06,+0300],HEAD,/DVWA/.git/config,HTTP/1.1,404,139,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,192.168.4.164,NaN,NaN,[22/Dec/2016:15:19:06,+0300],HEAD,/DVWA/.git/config,HTTP/1.1,404,139,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,192.168.4.164,NaN,NaN,[22/Dec/2016:15:19:06,+0300],HEAD,/DVWA/.svn/all-wcprops,HTTP/1.1,404,139,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
for x in netsparker_df.columns:
    netsparker_df['ip_address']=netsparker_df[0]
    netsparker_df['remote_log_name']=netsparker_df[1]
    netsparker_df['authenticated_user_name']=netsparker_df[2]
    netsparker_df['timestamp']=netsparker_df[3]+' '+netsparker_df[4]
    netsparker_df['method']=netsparker_df[5]
    netsparker_df['requested_url']=netsparker_df[6]
    netsparker_df['protocol']=netsparker_df[7]
    netsparker_df['status_code']=netsparker_df[8]
    netsparker_df['bytes_transferred']=netsparker_df[9]
    netsparker_df['referrer_url']=netsparker_df[10]
    netsparker_df['user_agent']=netsparker_df[11]+' '+netsparker_df[12]+' '+netsparker_df[13]+' '+\
    netsparker_df[14]+' '+netsparker_df[15]+' '+netsparker_df[16]+' '+netsparker_df[17]+' '+netsparker_df[17]\
    +" "+netsparker_df[18]+' '+netsparker_df[19]+" "+netsparker_df[20]+" "+netsparker_df[21]
netsparker_df.head()

,0,1,2,3,4,5,6,7,8,9,...,remote_log_name,authenticated_user_name,timestamp,method,requested_url,protocol,status_code,bytes_transferred,referrer_url,user_agent
0,192.168.4.164,NaN,NaN,[22/Dec/2016:15:19:05,+0300],GET,/DVWA/,HTTP/1.1,200,2020,...,NaN,NaN,[22/Dec/2016:15:19:05 +0300],GET,/DVWA/,HTTP/1.1,200,2020,NaN,Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKi...
1,192.168.4.164,NaN,NaN,[22/Dec/2016:15:19:06,+0300],HEAD,/DVWA/,HTTP/1.1,200,263,...,NaN,NaN,[22/Dec/2016:15:19:06 +0300],HEAD,/DVWA/,HTTP/1.1,200,263,NaN,Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKi...
2,192.168.4.164,NaN,NaN,[22/Dec/2016:15:19:06,+0300],HEAD,/DVWA/.git/config,HTTP/1.1,404,139,...,NaN,NaN,[22/Dec/2016:15:19:06 +0300],HEAD,/DVWA/.git/config,HTTP/1.1,404,139,NaN,Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKi...
3,192.168.4.164,NaN,NaN,[22/Dec/2016:15:19:06,+0300],HEAD,/DVWA/.git/config,HTTP/1.1,404,139,...,NaN,NaN,[22/Dec/2016:15:19:06 +0300],HEAD,/DVWA/.git/config,HTTP/1.1,404,139,NaN,Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKi...
4,192.168.4.164,NaN,NaN,[22/Dec/2016:15:19:06,+0300],HEAD,/DVWA/.svn/all-wcprops,HTTP/1.1,404,139,...,NaN,NaN,[22/Dec/2016:15:19:06 +0300],HEAD,/DVWA/.svn/all-wcprops,HTTP/1.1,404,139,NaN,Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKi...

In [7]:
len(netsparker_df[netsparker_df.user_agent.isnull()].index)

48

In [8]:
netsparker_df[[11,12,13,14,15,16,17,18,19,20,21]][netsparker_df.user_agent.isnull()].head()

,11,12,13,14,15,16,17,18,19,20,21
1724,{,:;};,echo,"\""NS:\",$(/bin/sh,-c,"\""expr",268409241,NaN,"2\"")",Mozilla/5.0
1850,{,:;};,echo,"\""NS:\",$(/bin/sh,-c,"\""expr",268409241,NaN,"2\"")",Mozilla/5.0
1971,{,:;};,echo,"\""NS:\",$(/bin/sh,-c,"\""expr",268409241,NaN,"2\"")",Mozilla/5.0
2156,{,:;};,echo,"\""NS:\",$(/bin/sh,-c,"\""expr",268409241,NaN,"2\"")",Mozilla/5.0
2164,{,:;};,echo,"\""NS:\",$(/bin/sh,-c,"\""expr",268409241,NaN,"2\"")",Mozilla/5.0

In [9]:
netsparker_df[[21,22,23,24,25,26,27,28,29,30,31]][netsparker_df.user_agent.isnull()].head()

,21,22,23,24,25,26,27,28,29,30,31
1724,Mozilla/5.0,(Windows,NT,6.3;,WOW64),AppleWebKit/537.36,"(KHTML,",like,Gecko),Chrome/41.0.2272.16,Safari/537.36
1850,Mozilla/5.0,(Windows,NT,6.3;,WOW64),AppleWebKit/537.36,"(KHTML,",like,Gecko),Chrome/41.0.2272.16,Safari/537.36
1971,Mozilla/5.0,(Windows,NT,6.3;,WOW64),AppleWebKit/537.36,"(KHTML,",like,Gecko),Chrome/41.0.2272.16,Safari/537.36
2156,Mozilla/5.0,(Windows,NT,6.3;,WOW64),AppleWebKit/537.36,"(KHTML,",like,Gecko),Chrome/41.0.2272.16,Safari/537.36
2164,Mozilla/5.0,(Windows,NT,6.3;,WOW64),AppleWebKit/537.36,"(KHTML,",like,Gecko),Chrome/41.0.2272.16,Safari/537.36

In [10]:
for x in netsparker_df[netsparker_df.user_agent.isnull()].index:
        netsparker_df.loc[x,'user_agent']=netsparker_df.loc[x,21]+" "+netsparker_df.loc[x,22]+\
        " "+netsparker_df.loc[x,23]+" "+netsparker_df.loc[x,24]+" "+netsparker_df.loc[x,25]+' '+\
        netsparker_df.loc[x,26]+' '+netsparker_df.loc[x,27]+' '+netsparker_df.loc[x,28]+' '+\
        netsparker_df.loc[x,29]+' '+netsparker_df.loc[x,30]+" "+netsparker_df.loc[x,31]

In [11]:
len(netsparker_df[netsparker_df.user_agent.isnull()].index)

0

In [12]:
netsparker_df.head()

,0,1,2,3,4,5,6,7,8,9,...,remote_log_name,authenticated_user_name,timestamp,method,requested_url,protocol,status_code,bytes_transferred,referrer_url,user_agent
0,192.168.4.164,NaN,NaN,[22/Dec/2016:15:19:05,+0300],GET,/DVWA/,HTTP/1.1,200,2020,...,NaN,NaN,[22/Dec/2016:15:19:05 +0300],GET,/DVWA/,HTTP/1.1,200,2020,NaN,Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKi...
1,192.168.4.164,NaN,NaN,[22/Dec/2016:15:19:06,+0300],HEAD,/DVWA/,HTTP/1.1,200,263,...,NaN,NaN,[22/Dec/2016:15:19:06 +0300],HEAD,/DVWA/,HTTP/1.1,200,263,NaN,Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKi...
2,192.168.4.164,NaN,NaN,[22/Dec/2016:15:19:06,+0300],HEAD,/DVWA/.git/config,HTTP/1.1,404,139,...,NaN,NaN,[22/Dec/2016:15:19:06 +0300],HEAD,/DVWA/.git/config,HTTP/1.1,404,139,NaN,Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKi...
3,192.168.4.164,NaN,NaN,[22/Dec/2016:15:19:06,+0300],HEAD,/DVWA/.git/config,HTTP/1.1,404,139,...,NaN,NaN,[22/Dec/2016:15:19:06 +0300],HEAD,/DVWA/.git/config,HTTP/1.1,404,139,NaN,Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKi...
4,192.168.4.164,NaN,NaN,[22/Dec/2016:15:19:06,+0300],HEAD,/DVWA/.svn/all-wcprops,HTTP/1.1,404,139,...,NaN,NaN,[22/Dec/2016:15:19:06 +0300],HEAD,/DVWA/.svn/all-wcprops,HTTP/1.1,404,139,NaN,Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKi...

In [13]:
netsparker_df.drop([n for n in range(32)], axis=1, inplace=True)

#### Dataframe for Acunetix

In [15]:
acunetix_df = pd.DataFrame([[x.strip('"') for x in y.split()] for y in acunetix])
acunetix_df.replace([None,'-'],np.nan, inplace=True)
acunetix_df.head()

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
0,192.168.4.25,NaN,NaN,[22/Dec/2016:16:30:52,+0300],POST,/administrator/index.php,HTTP/1.1,303,382,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,192.168.4.25,NaN,NaN,[22/Dec/2016:16:29:05,+0300],POST,/index.php/component/search/,HTTP/1.1,500,2011,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,192.168.4.25,NaN,NaN,[22/Dec/2016:16:28:53,+0300],POST,/index.php/component/search/,HTTP/1.1,303,374,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,192.168.4.25,NaN,NaN,[22/Dec/2016:16:32:50,+0300],POST,/index.php/component/search/,HTTP/1.1,200,3054,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,192.168.4.25,NaN,NaN,[22/Dec/2016:16:29:13,+0300],POST,/index.php/component/search/,HTTP/1.1,200,3056,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
for x in acunetix_df.columns:
    acunetix_df['ip_address']=acunetix_df[0]
    acunetix_df['remote_log_name']=acunetix_df[1]
    acunetix_df['authenticated_user_name']=acunetix_df[2]
    acunetix_df['timestamp']=acunetix_df[3]+' '+acunetix_df[4]
    acunetix_df['method']=acunetix_df[5]
    acunetix_df['requested_url']=acunetix_df[6]
    acunetix_df['protocol']=acunetix_df[7]
    acunetix_df['status_code']=acunetix_df[8]
    acunetix_df['bytes_transferred']=acunetix_df[9]
    acunetix_df['referrer_url']=acunetix_df[10]
    acunetix_df['user_agent']=acunetix_df[11]+' '+acunetix_df[12]+' '+acunetix_df[13]+' '+\
    acunetix_df[14]+' '+acunetix_df[15]+' '+acunetix_df[16]+' '+acunetix_df[17]+" "+acunetix_df[18]\
    +' '+acunetix_df[19]+" "+acunetix_df[20]+" "+acunetix_df[21]
acunetix_df.head()

,0,1,2,3,4,5,6,7,8,9,...,remote_log_name,authenticated_user_name,timestamp,method,requested_url,protocol,status_code,bytes_transferred,referrer_url,user_agent
0,192.168.4.25,NaN,NaN,[22/Dec/2016:16:30:52,+0300],POST,/administrator/index.php,HTTP/1.1,303,382,...,NaN,NaN,[22/Dec/2016:16:30:52 +0300],POST,/administrator/index.php,HTTP/1.1,303,382,http://192.168.4.161/DVWA,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...
1,192.168.4.25,NaN,NaN,[22/Dec/2016:16:29:05,+0300],POST,/index.php/component/search/,HTTP/1.1,500,2011,...,NaN,NaN,[22/Dec/2016:16:29:05 +0300],POST,/index.php/component/search/,HTTP/1.1,500,2011,NaN,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...
2,192.168.4.25,NaN,NaN,[22/Dec/2016:16:28:53,+0300],POST,/index.php/component/search/,HTTP/1.1,303,374,...,NaN,NaN,[22/Dec/2016:16:28:53 +0300],POST,/index.php/component/search/,HTTP/1.1,303,374,http://192.168.4.161/DVWA,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...
3,192.168.4.25,NaN,NaN,[22/Dec/2016:16:32:50,+0300],POST,/index.php/component/search/,HTTP/1.1,200,3054,...,NaN,NaN,[22/Dec/2016:16:32:50 +0300],POST,/index.php/component/search/,HTTP/1.1,200,3054,http://192.168.4.161/DVWA,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...
4,192.168.4.25,NaN,NaN,[22/Dec/2016:16:29:13,+0300],POST,/index.php/component/search/,HTTP/1.1,200,3056,...,NaN,NaN,[22/Dec/2016:16:29:13 +0300],POST,/index.php/component/search/,HTTP/1.1,200,3056,NaN,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...

In [17]:
acunetix_df.user_agent.unique()

array(['Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.21 (KHTML, like Gecko) Chrome/41.0.2228.0 Safari/537.21',
       '{ Referer; }; echo -e \\"Content-Type: text/plain\\\\n\\"; echo -e \\"\\\\0141\\\\0143\\\\0165\\\\0156\\\\0145\\\\0164\\\\0151\\\\0170\\\\0163\\\\0150\\\\0145\\\\0154\\\\0154\\\\0163\\\\0150\\\\0157\\\\0143\\\\0153\\ Mozilla/5.0',
       nan], dtype=object)

In [18]:
acunetix_df[[11,12,13,14,15,16,17,18,19,20,21]][acunetix_df.user_agent.isnull()].dropna(axis=1, how='all')

,11,12,13,14,15,16,17,18,19
2098,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2524,Mozilla/4.0,(compatible;,MSIE,8.0;,Windows,NT,6.1;,Trident/4.0;,w3af.sf.net)
5124,Mozilla/4.0,(compatible;,MSIE,8.0;,Windows,NT,6.1;,Trident/4.0;,w3af.sf.net)

In [19]:
acunetix_df[acunetix_df.user_agent.isnull()].index

Int64Index([2098, 2524, 5124], dtype='int64')

In [20]:
for x in acunetix_df[acunetix_df.user_agent.isnull()].index:
        acunetix_df.loc[x,'user_agent']=str(acunetix_df.loc[x,11])+" "+str(acunetix_df.loc[x,12])+\
        " "+str(acunetix_df.loc[x,13])+" "+str(acunetix_df.loc[x,14])+" "+str(acunetix_df.loc[x,15])+' '+\
        str(acunetix_df.loc[x,16])+' '+str(acunetix_df.loc[x,17])+' '+str(acunetix_df.loc[x,18])+' '+str(acunetix_df.loc[x,19])

In [21]:
acunetix_df.user_agent.unique()

array(['Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.21 (KHTML, like Gecko) Chrome/41.0.2228.0 Safari/537.21',
       '{ Referer; }; echo -e \\"Content-Type: text/plain\\\\n\\"; echo -e \\"\\\\0141\\\\0143\\\\0165\\\\0156\\\\0145\\\\0164\\\\0151\\\\0170\\\\0163\\\\0150\\\\0145\\\\0154\\\\0154\\\\0163\\\\0150\\\\0157\\\\0143\\\\0153\\ Mozilla/5.0',
       'nan nan nan nan nan nan nan nan nan',
       'Mozilla/4.0 (compatible; MSIE 8.0; Windows NT 6.1; Trident/4.0; w3af.sf.net)'],
      dtype=object)

In [22]:
acunetix_df[acunetix_df.user_agent=='{ Referer; }; echo -e \\"Content-Type: text/plain\\\\n\\"; text/plain\\\\n\\"; echo -e \\"\\\\0141\\\\0143\\\\0165\\\\0156\\\\0145\\\\0164\\\\0151\\\\0170\\\\0163\\\\0150\\\\0145\\\\0154\\\\0154\\\\0163\\\\0150\\\\0157\\\\0143\\\\0153\\ Mozilla/5.0']

Empty DataFrame
Columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, ip_address, remote_log_name, authenticated_user_name, timestamp, method, requested_url, protocol, status_code, bytes_transferred, referrer_url, user_agent]
Index: []

[0 rows x 43 columns]

In [23]:
for x in acunetix_df[acunetix_df.user_agent=='{ Referer; }; echo -e \\"Content-Type: text/plain\\\\n\\"; echo -e \\"\\\\0141\\\\0143\\\\0165\\\\0156\\\\0145\\\\0164\\\\0151\\\\0170\\\\0163\\\\0150\\\\0145\\\\0154\\\\0154\\\\0163\\\\0150\\\\0157\\\\0143\\\\0153\\ Mozilla/5.0'].index:
        acunetix_df.loc[x,'user_agent']=str(acunetix_df.loc[x,21])+" "+str(acunetix_df.loc[x,22])+\
        " "+str(acunetix_df.loc[x,23])+" "+str(acunetix_df.loc[x,24])+" "+str(acunetix_df.loc[x,25])+' '+\
        str(acunetix_df.loc[x,26])+' '+str(acunetix_df.loc[x,27])+' '+str(acunetix_df.loc[x,28])+' '+str(acunetix_df.loc[x,29])+' '+str(acunetix_df.loc[x,30])+' '+str(acunetix_df.loc[x,31])

In [24]:
acunetix_df.user_agent.unique()

array(['Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.21 (KHTML, like Gecko) Chrome/41.0.2228.0 Safari/537.21',
       'nan nan nan nan nan nan nan nan nan',
       'Mozilla/4.0 (compatible; MSIE 8.0; Windows NT 6.1; Trident/4.0; w3af.sf.net)'],
      dtype=object)

In [25]:
acunetix_df[acunetix_df['user_agent']=='nan nan nan nan nan nan nan nan nan']

,0,1,2,3,4,5,6,7,8,9,...,remote_log_name,authenticated_user_name,timestamp,method,requested_url,protocol,status_code,bytes_transferred,referrer_url,user_agent
2098,192.168.4.25,NaN,NaN,[22/Dec/2016:16:18:09,+0300],GET,HTTP/1.1,400,300,NaN,...,NaN,NaN,[22/Dec/2016:16:18:09 +0300],GET,HTTP/1.1,400,300,NaN,NaN,nan nan nan nan nan nan nan nan nan

In [26]:
acunetix_df[[n for n in range(11,32)]].loc[2098]

11    NaN
12    NaN
13    NaN
14    NaN
15    NaN
16    NaN
17    NaN
18    NaN
19    NaN
20    NaN
21    NaN
22    NaN
23    NaN
24    NaN
25    NaN
26    NaN
27    NaN
28    NaN
29    NaN
30    NaN
31    NaN
Name: 2098, dtype: object

In [27]:
acunetix_df.loc[2098,'user_agent']=np.nan

In [28]:
acunetix_df.user_agent.unique()

array(['Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.21 (KHTML, like Gecko) Chrome/41.0.2228.0 Safari/537.21',
       nan,
       'Mozilla/4.0 (compatible; MSIE 8.0; Windows NT 6.1; Trident/4.0; w3af.sf.net)'],
      dtype=object)

In [29]:
acunetix_df.head()

,0,1,2,3,4,5,6,7,8,9,...,remote_log_name,authenticated_user_name,timestamp,method,requested_url,protocol,status_code,bytes_transferred,referrer_url,user_agent
0,192.168.4.25,NaN,NaN,[22/Dec/2016:16:30:52,+0300],POST,/administrator/index.php,HTTP/1.1,303,382,...,NaN,NaN,[22/Dec/2016:16:30:52 +0300],POST,/administrator/index.php,HTTP/1.1,303,382,http://192.168.4.161/DVWA,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...
1,192.168.4.25,NaN,NaN,[22/Dec/2016:16:29:05,+0300],POST,/index.php/component/search/,HTTP/1.1,500,2011,...,NaN,NaN,[22/Dec/2016:16:29:05 +0300],POST,/index.php/component/search/,HTTP/1.1,500,2011,NaN,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...
2,192.168.4.25,NaN,NaN,[22/Dec/2016:16:28:53,+0300],POST,/index.php/component/search/,HTTP/1.1,303,374,...,NaN,NaN,[22/Dec/2016:16:28:53 +0300],POST,/index.php/component/search/,HTTP/1.1,303,374,http://192.168.4.161/DVWA,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...
3,192.168.4.25,NaN,NaN,[22/Dec/2016:16:32:50,+0300],POST,/index.php/component/search/,HTTP/1.1,200,3054,...,NaN,NaN,[22/Dec/2016:16:32:50 +0300],POST,/index.php/component/search/,HTTP/1.1,200,3054,http://192.168.4.161/DVWA,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...
4,192.168.4.25,NaN,NaN,[22/Dec/2016:16:29:13,+0300],POST,/index.php/component/search/,HTTP/1.1,200,3056,...,NaN,NaN,[22/Dec/2016:16:29:13 +0300],POST,/index.php/component/search/,HTTP/1.1,200,3056,NaN,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...

In [30]:
acunetix_df.drop([n for n in range(32)], axis=1, inplace=True)
acunetix_df.head()

,ip_address,remote_log_name,authenticated_user_name,timestamp,method,requested_url,protocol,status_code,bytes_transferred,referrer_url,user_agent
0,192.168.4.25,NaN,NaN,[22/Dec/2016:16:30:52 +0300],POST,/administrator/index.php,HTTP/1.1,303,382,http://192.168.4.161/DVWA,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...
1,192.168.4.25,NaN,NaN,[22/Dec/2016:16:29:05 +0300],POST,/index.php/component/search/,HTTP/1.1,500,2011,NaN,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...
2,192.168.4.25,NaN,NaN,[22/Dec/2016:16:28:53 +0300],POST,/index.php/component/search/,HTTP/1.1,303,374,http://192.168.4.161/DVWA,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...
3,192.168.4.25,NaN,NaN,[22/Dec/2016:16:32:50 +0300],POST,/index.php/component/search/,HTTP/1.1,200,3054,http://192.168.4.161/DVWA,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...
4,192.168.4.25,NaN,NaN,[22/Dec/2016:16:29:13 +0300],POST,/index.php/component/search/,HTTP/1.1,200,3056,NaN,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...

#### dataframe for w3af

In [32]:
w3af_df = pd.DataFrame([[x.strip('"') for x in y.split()] for y in w3af])
w3af_df.replace([None,'-'],np.nan, inplace=True)
w3af_df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,192.168.4.163,NaN,NaN,[22/Dec/2016:22:32:31,+0300],GET,/,HTTP/1.1,200,3279,NaN,w3af.org,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,192.168.4.163,NaN,NaN,[22/Dec/2016:22:32:31,+0300],GET,/,HTTP/1.1,200,3279,NaN,w3af.org,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,192.168.4.163,NaN,NaN,[22/Dec/2016:22:32:31,+0300],GET,/,HTTP/1.1,200,3361,NaN,w3af.org,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,192.168.4.163,NaN,NaN,[22/Dec/2016:22:32:32,+0300],GET,/,HTTP/1.1,200,3279,NaN,w3af.org,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,192.168.4.163,NaN,NaN,[22/Dec/2016:22:32:32,+0300],GET,/,HTTP/1.1,200,3279,NaN,w3af.org,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
for x in w3af_df.columns:
    w3af_df['ip_address']=w3af_df[0]
    w3af_df['remote_log_name']=w3af_df[1]
    w3af_df['authenticated_user_name']=w3af_df[2]
    w3af_df['timestamp']=w3af_df[3]+' '+w3af_df[4]
    w3af_df['method']=w3af_df[5]
    w3af_df['requested_url']=w3af_df[6]
    w3af_df['protocol']=w3af_df[7]
    w3af_df['status_code']=w3af_df[8]
    w3af_df['bytes_transferred']=w3af_df[9]
    w3af_df['referrer_url']=w3af_df[10]
    w3af_df['user_agent']=w3af_df[11]+' '+w3af_df[12]+' '+w3af_df[13]+' '+w3af_df[14]+' '+w3af_df[15]\
    +' '+w3af_df[16]+' '+w3af_df[17]+' '+w3af_df[17]+" "+w3af_df[18]
w3af_df.head()

,0,1,2,3,4,5,6,7,8,9,...,remote_log_name,authenticated_user_name,timestamp,method,requested_url,protocol,status_code,bytes_transferred,referrer_url,user_agent
0,192.168.4.163,NaN,NaN,[22/Dec/2016:22:32:31,+0300],GET,/,HTTP/1.1,200,3279,...,NaN,NaN,[22/Dec/2016:22:32:31 +0300],GET,/,HTTP/1.1,200,3279,NaN,NaN
1,192.168.4.163,NaN,NaN,[22/Dec/2016:22:32:31,+0300],GET,/,HTTP/1.1,200,3279,...,NaN,NaN,[22/Dec/2016:22:32:31 +0300],GET,/,HTTP/1.1,200,3279,NaN,NaN
2,192.168.4.163,NaN,NaN,[22/Dec/2016:22:32:31,+0300],GET,/,HTTP/1.1,200,3361,...,NaN,NaN,[22/Dec/2016:22:32:31 +0300],GET,/,HTTP/1.1,200,3361,NaN,NaN
3,192.168.4.163,NaN,NaN,[22/Dec/2016:22:32:32,+0300],GET,/,HTTP/1.1,200,3279,...,NaN,NaN,[22/Dec/2016:22:32:32 +0300],GET,/,HTTP/1.1,200,3279,NaN,NaN
4,192.168.4.163,NaN,NaN,[22/Dec/2016:22:32:32,+0300],GET,/,HTTP/1.1,200,3279,...,NaN,NaN,[22/Dec/2016:22:32:32 +0300],GET,/,HTTP/1.1,200,3279,NaN,NaN

In [34]:
w3af_df[[11,12,13,14,15,16,17,18]][w3af_df.user_agent.isnull()]

            11   12   13   14   15   16   17   18
0     w3af.org  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1     w3af.org  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2     w3af.org  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3     w3af.org  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4     w3af.org  NaN  NaN  NaN  NaN  NaN  NaN  NaN
...        ...  ...  ...  ...  ...  ...  ...  ...
3991  w3af.org  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3992  w3af.org  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3993  w3af.org  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3994  w3af.org  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3995  w3af.org  NaN  NaN  NaN  NaN  NaN  NaN  NaN

[3976 rows x 8 columns]

In [35]:
for x in w3af_df[w3af_df['user_agent'].isnull()].index:
        w3af_df.loc[x,'user_agent']=w3af_df.iloc[x,11]
w3af_df[[11,12,13,14,15,16,17,18]][w3af_df.user_agent.isnull()]

Empty DataFrame
Columns: [11, 12, 13, 14, 15, 16, 17, 18]
Index: []

In [36]:
w3af_df.user_agent.value_counts()

w3af.org                                                                                    3926
Mozilla/5.0                                                                                   50
Mozilla/5.0 (Windows NT 10.0; WOW64; rv:50.0) Gecko/20100101 Gecko/20100101 Firefox/50.0      20
Name: user_agent, dtype: int64

In [37]:
w3af_df[[11,12,13,14,15,16,17,18]][w3af_df.user_agent=='w3af.org'].dropna(how='all',axis=1).head()

         11
0  w3af.org
1  w3af.org
2  w3af.org
3  w3af.org
4  w3af.org

In [38]:
w3af_df[[11,12,13,14,15,16,17,18]][w3af_df.user_agent=='Mozilla/5.0'].dropna(how='all',axis=1).head()

,11,12,13,14,15,16,17
2249,Mozilla/5.0,(X11;,Linux,x86_64;,rv:45.0),Gecko/20100101,Firefox/45.0
2250,Mozilla/5.0,(X11;,Linux,x86_64;,rv:45.0),Gecko/20100101,Firefox/45.0
2251,Mozilla/5.0,(X11;,Linux,x86_64;,rv:45.0),Gecko/20100101,Firefox/45.0
2252,Mozilla/5.0,(X11;,Linux,x86_64;,rv:45.0),Gecko/20100101,Firefox/45.0
2253,Mozilla/5.0,(X11;,Linux,x86_64;,rv:45.0),Gecko/20100101,Firefox/45.0

In [39]:
for x in w3af_df[w3af_df['user_agent']=='Mozilla/5.0'].index:
        w3af_df.loc[x,'user_agent']=w3af_df.loc[x,11]+" "+w3af_df.loc[x,12]+" "+w3af_df.loc[x,13]+" "+w3af_df.loc[x,14]+" "+w3af_df.loc[x,15]+' '+\
        w3af_df.loc[x,16]+' '+w3af_df.loc[x,17]
w3af_df.user_agent.value_counts()

w3af.org                                                                                    3926
Mozilla/5.0 (X11; Linux x86_64; rv:45.0) Gecko/20100101 Firefox/45.0                          50
Mozilla/5.0 (Windows NT 10.0; WOW64; rv:50.0) Gecko/20100101 Gecko/20100101 Firefox/50.0      20
Name: user_agent, dtype: int64

In [40]:
# w3af_df.head()

In [41]:
w3af_df.drop([n for n in range(19)],axis=1, inplace=True)
w3af_df.head()

,ip_address,remote_log_name,authenticated_user_name,timestamp,method,requested_url,protocol,status_code,bytes_transferred,referrer_url,user_agent
0,192.168.4.163,NaN,NaN,[22/Dec/2016:22:32:31 +0300],GET,/,HTTP/1.1,200,3279,NaN,w3af.org
1,192.168.4.163,NaN,NaN,[22/Dec/2016:22:32:31 +0300],GET,/,HTTP/1.1,200,3279,NaN,w3af.org
2,192.168.4.163,NaN,NaN,[22/Dec/2016:22:32:31 +0300],GET,/,HTTP/1.1,200,3361,NaN,w3af.org
3,192.168.4.163,NaN,NaN,[22/Dec/2016:22:32:32 +0300],GET,/,HTTP/1.1,200,3279,NaN,w3af.org
4,192.168.4.163,NaN,NaN,[22/Dec/2016:22:32:32 +0300],GET,/,HTTP/1.1,200,3279,NaN,w3af.org

In [42]:
# xss_sqli_attacks= []
# attackers_ip=[]
# for data in [acunetix, w3af, netsparker]:
#     for y in data:
#         for x in xss_sqli_patterns:
#             if x in y:
#                 if y not in xss_sqli_attacks:
#                     xss_sqli_attacks.append(y)
#                     attackers_ip.append(y[1:14])

In [43]:
# type2 = []
# for data in [acunetix, w3af, netsparker]:
#     for z in data:
#         if z not in xss_sqli_attacks and z not in type2:
#             type2.append(z)

# print(len(xss_sqli_attacks))

# len(type2)

In [44]:
list(acunetix_df.columns)==list(w3af_df.columns)==list(netsparker_df.columns)

True

In [45]:
df=pd.concat([netsparker_df,acunetix_df,w3af_df]).reset_index(drop=True)

In [46]:
df.index

RangeIndex(start=0, stop=17849, step=1)

In [47]:
df.head()

,ip_address,remote_log_name,authenticated_user_name,timestamp,method,requested_url,protocol,status_code,bytes_transferred,referrer_url,user_agent
0,192.168.4.164,NaN,NaN,[22/Dec/2016:15:19:05 +0300],GET,/DVWA/,HTTP/1.1,200,2020,NaN,Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKi...
1,192.168.4.164,NaN,NaN,[22/Dec/2016:15:19:06 +0300],HEAD,/DVWA/,HTTP/1.1,200,263,NaN,Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKi...
2,192.168.4.164,NaN,NaN,[22/Dec/2016:15:19:06 +0300],HEAD,/DVWA/.git/config,HTTP/1.1,404,139,NaN,Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKi...
3,192.168.4.164,NaN,NaN,[22/Dec/2016:15:19:06 +0300],HEAD,/DVWA/.git/config,HTTP/1.1,404,139,NaN,Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKi...
4,192.168.4.164,NaN,NaN,[22/Dec/2016:15:19:06 +0300],HEAD,/DVWA/.svn/all-wcprops,HTTP/1.1,404,139,NaN,Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKi...

In [48]:
netsparker_df.to_csv('netsparker.csv')
acunetix_df.to_csv('acunetix.csv')
w3af_df.to_csv('w3af.csv')
df.to_csv('xss_sqli_attacks_detection.csv')